button {
  cursor: pointer;
  line-height:24px;
}

.btn {
  width: 603px;
  height: 56px;
  border: none;
  background-color: rgba(60, 60, 67, 0.18);
  color: #ffffff;
  border-radius: 32px;
  padding: 16px 24px;
  font-size: 16px;
}

.icon-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #f3f5f7;
  color: #4285f4;
  border: none;
  display: grid;
  place-items: center;

  svg {
    width: 50%;
    height: 50%;
  }
}

.link-btn {
    font-size: 24px;
    color: #62B273;
    border: none;
    background-color: transparent;
    transition: .3s;

    &:hover {
      color: #36cb56
    }
}
