

.MuiBox-root {
  // height: 50px !important;
  background-color: #131623 !important;
  
}
.MuiCardContent-root{
  height: 340px;
}
.main{
  max-width: 1488px !important;
  margin: 0 auto !important;
 

  // gap: 210px;
}
// .sabina{
//   max-width: 1330px !important;
// }
