@import "fonts";
@import "mixin";

$container-width: 1440px;
$main-color: rgba(19, 22, 35, 1);
$secondary-color:#181B29;

%description {
  font-family: Montserrat !important;
  @include typography(48px !important, 56px !important, 400 !important, 0em !important);
  /* if it add img tag like logo, remove this line */
}

.logo {
  height: 56px;
  background-color: $main-color;
  color: white;

  &__description {
    @extend %description;
    padding: 10px;
  }
}

.side {
  // width: (590px * 100% )/ $container-width;
  height: 100vh;
  padding: 0px 103px 0px 104px;
  background-color: $secondary-color;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;

  &__description {
    @extend %description;
    color: #fff
  }
}

.layout {
  // width: 100%;
  display: flex;
  flex-direction: row;

  &__main {
    // width: 100% - (590px * 100% / $container-width);
    height: 100vh;
  }
}