@import "../../assets/sass/normalize";

$color-main-btn: #34a853;
$color-secondary-btn: #62b273;
$color-blue-btn: #4285f4;
$color-white-btn: #fff;
$offwhite: #f3f5f7;
$color-hover-btn: #36cb56;

button {
  cursor: pointer;
  line-height: 24px;
  line-height: 24px;
}

@mixin long-btn() {
  width: 100%;
  height: 48px;
  border: none;
  color: $color-white-btn;
  border-radius: 32px;
  font-size: 16px;
}

.long-gray {
  @include long-btn;
  background-color: rgba(60, 60, 67, 0.18);
}

.long-green-1 {
  @include long-btn;
  background-color: $color-main-btn;

  &:disabled {
    background-color: rgba(60, 60, 67, 0.18);
    cursor: not-allowed;
  }
}

.long-green-2 {
  @include long-btn;
  background-color: $color-secondary-btn;
}

.outlined-green {
  @include long-btn;
  background-color: $color-white-btn;
  color: $color-main-btn;
  border: 2px solid $color-main-btn;
}

.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $offwhite;
  color: $color-blue-btn;
  border: none;
  display: grid;
  place-items: center;

  svg {
    width: 40px;
    height: 40px;
  }
}

.link-btn {
  font-size: 24px;
  color: $color-secondary-btn;
  border: none;
  background-color: transparent;
  transition: all 0.3s;

  &:hover {
    color: $color-hover-btn;
  }
}

