.demoresearch {
  body {
    background-color: white !important;
  }

  .middle-gridd .css-vj1n65-MuiGrid-root {
    display: inline !important;
  }

  .MuiGrid-root .css-vj1n65-MuiGrid-root {
    display: inline !important;
  }

  .down-part {
    display: flex;
    justify-content: space-between;
  }

  .addBalance {
    width: 180px !important;
  }
}
